oj-*.gem
.DS_Store
\#*\#
.\#*
*~
*.o
Makefile
*.bundle
.rbenv-version
.ruby-version
*.rbc
.rbx
doc
.yardoc
Gemfile.lock
*.so
vendor
# The bundler vendor rule above must not hide the vendored C sources the
# extension is built from.
!ext/oj/vendor/
gemfiles/*.lock
tmp
