sudo: false

env:
  global:
    - MAKE="make -j 2"

cache:
  - ccache
  - bundler

language: ruby
rvm:
  - 1.9.3
  - 2.1.10
  - 2.2.6
  - 2.3.3
  - 2.4.0

gemfile:
  - gemfiles/no_rails.gemfile
  - gemfiles/rails_4.1.gemfile
  - gemfiles/rails_4.2.gemfile
  - gemfiles/rails_5.gemfile

matrix:
  fast_finish: true
  allow_failures:
    - rvm: 2.4.0
    - rvm: 1.9.3
  exclude:
    - gemfile: gemfiles/rails_5.gemfile
      rvm: 2.1.10
    - gemfile: gemfiles/rails_4.1.gemfile
      rvm: 1.9.3
    - gemfile: gemfiles/rails_4.2.gemfile
      rvm: 1.9.3
    - gemfile: gemfiles/rails_5.gemfile
      rvm: 1.9.3
    - gemfile: gemfiles/no_rails.gemfile
      rvm: 2.1.10
    - gemfile: gemfiles/no_rails.gemfile
      rvm: 2.2.6
    - gemfile: gemfiles/no_rails.gemfile
      rvm: 2.3.3
    - gemfile: gemfiles/no_rails.gemfile
      rvm: 2.4.0
