name: CI

on:
  push:
    branches:
      - '*'
  pull_request:

jobs:
  Build:
    strategy:
      fail-fast: true
      matrix:
        # Due to https://github.com/actions/runner/issues/849, we have to use quotes for '3.0'
        ruby:
          - head
          - '3.1'
          - '3.0'
          - '2.7'
          - '2.6'
          - '2.5'
        os:
          - ubuntu
          - macos
          #- windows Tests are failing with Windows for now.
        gemfile:
          - no_rails
          - rails_5
          - rails_6
          - rails_6.1
        exclude:
          - os: macos
            ruby: head
          - ruby: '3.0'
            gemfile: rails_5
          - ruby: '3.0'
            gemfile: rails_6

    env:
      BUNDLE_GEMFILE: gemfiles/${{ matrix.gemfile }}.gemfile
      MAKE: make -j 2
    runs-on: ${{ matrix.os }}-latest
    continue-on-error: ${{ matrix.ruby == 'head'}}
    name: Ruby ${{ matrix.ruby }} (${{ matrix.os }}${{ matrix.gemfile != 'no_rails' && ', ' || '' }}${{ matrix.gemfile != 'no_rails' && matrix.gemfile || '' }})
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - run: bundle exec rake

  Windows:
    strategy:
      fail-fast: false
      matrix:
        ruby: [ ucrt, '3.1', '3.0', '2.7', '2.6' ]

    env:
      BUNDLE_GEMFILE: gemfiles/no_rails.gemfile
      MAKE: make -j 2
    runs-on: windows-2022
    name: Ruby ${{ matrix.ruby }} (windows-2022)
    steps:
      - uses: actions/checkout@v2
      - uses: MSP-Greg/ruby-setup-ruby@win-ucrt-1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - run: bundle exec rake
